# Terraform runtime folders
**/.terraform/

# Local state
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Generated Terraform backend file
backend.tf

# Python .venv folders
**/.venv/