# Terraform runtime folders
**/.terraform/

# Local state
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# local data
data/

# Python .venv folders
**/.venv/

# Python bytecode
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache

# Evidence build directories
.evidence/
.vercel/
build/

# Local data cache/Parquet sources
sources/**/*.parquet
queries/.env